
/target
/repos
/output
*.swp
.lein-repl-history
.lein-failures
symbol-history
/api-docs-generated

.DS_Store

/docs-*
/docset/ClojureScript.*
/docset/Dash-User-Contributions
/docset/offline
/catalog

clj-api-*.clj
