;; This file is a SET of symbols that we WON'T DOCUMENT.
;; Most reasons amount to speculation "shouldn't be public"

#{

cljs.core/ExceptionInfo
cljs.core/add-to-string-hash-cache

;; experimental
cljs.core/es6-entries-iterator
cljs.core/es6-iterable
cljs.core/es6-iterator
cljs.core/es6-iterator-seq
cljs.core/es6-set-entries-iterator

cljs.core/is_proto_

;; internal murmur3 hashing
cljs.core/m3-fmix
cljs.core/m3-hash-int
cljs.core/m3-hash-unencoded-chars
cljs.core/m3-mix-H1
cljs.core/m3-mix-K1

cljs.core/mk-bound-fn
cljs.core/bit-shift-right-zero-fill ;; deprecated

;; included for backwards compatibility with clojure.
;; most are just implemented as the identity function
cljs.core/booleans
cljs.core/byte
cljs.core/bytes
cljs.core/chars
cljs.core/ints
cljs.core/float
cljs.core/floats
cljs.core/double
cljs.core/doubles
cljs.core/short
cljs.core/shorts
cljs.core/longs

;; included for backwards compatibility with clojure.
;; all arithmetic operations are unchecked in JS anyway
;; so these just mirror the regular operations.
cljs.core/unchecked-add-int
cljs.core/unchecked-add
cljs.core/unchecked-byte
cljs.core/unchecked-char
cljs.core/unchecked-dec-int
cljs.core/unchecked-dec
cljs.core/unchecked-divide-int
cljs.core/unchecked-double
cljs.core/unchecked-float
cljs.core/unchecked-inc-int
cljs.core/unchecked-inc
cljs.core/unchecked-int
cljs.core/unchecked-long
cljs.core/unchecked-multiply-int
cljs.core/unchecked-multiply
cljs.core/unchecked-negate-int
cljs.core/unchecked-negate
cljs.core/unchecked-remainder-int
cljs.core/unchecked-short
cljs.core/unchecked-subtract-int
cljs.core/unchecked-subtract

;; I think symbols ending with an asterisk
;; are generally internal.
cljs.core/case*

;; dnolen told people not to use it.
cljs.core/js*

;; I think chunking is an internal representation
;; for sequences.
cljs.core/chunk-append
cljs.core/chunk-buffer
cljs.core/chunk-cons
cljs.core/chunk-first
cljs.core/chunk-next
cljs.core/chunk-rest
cljs.core/chunk
cljs.core/chunked-seq
cljs.core/chunked-seq?

;; internal helpers for arrays
cljs.core/array-chunk
cljs.core/array-iter
cljs.core/array-list
cljs.core/array-index-of

;; not sure cloning is used externally
cljs.core/clone
cljs.core/cloneable?

;; ObjMap is deprecated:
;; https://github.com/clojure/clojurescript/blob/cda08f01413c0f150635707a748d3ba3b536c9f9/src/cljs/cljs/core.cljs#L5348
cljs.core/obj-map


}