<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cljs</string>

	<key>CFBundleName</key>
	<string>ClojureScript</string>

	<key>DocSetPlatformFamily</key>
	<string>cljs</string>

	<key>isDashDocset</key>
	<true/>

  <key>dashIndexFilePath</key>
  <string>offline/github.com/cljsinfo/api-refs/blob/catalog/README.html</string>
</dict>
</plist>
